{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true
    },
  "rules":{
    "linebreak-style": ["error", "windows"],
    "arrow-body-style": 0,
    "import/prefer-default-export": 0,
    "object-curly-spacing": "off",
    "comma-dangle": ["error", "only-multiline"],
    "max-len":1,
    "jsx-space-before-closing": 0,
    "react/jsx-first-prop-new-line":1,
    "react/jsx-no-bind":1,
    "react/jsx-space-before-closing": 0,
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": 0
    },
}
